.block_starred_courses .separator {
    display: block;
    width: 90%;
    height: 1px;
    background-color: #868e96;
    margin: 1em auto;
}

.block_starred_courses .toggle_link {
    display: block;
    text-align: center;
}

.block_starred_courses .title {
    display: block;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0.5em;
}
